<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
  <%- include('./partials/nav') %>
    <!--Showcase-->
    <section class="bg-dark text-light py-5 mt-5 text-center text-sm-start">
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-evenly">
          <div>
            <h1>漸<span class="text-warning">健康</span>復&nbsp;&nbsp;&nbsp;Get&nbsp;Well</span>
            </h1>
            <p class="lead my-4">你的數位居家復健筆記</p>
            <p>量化動作品質，看見自己的進步</p>
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#register">
              開始紀錄
            </button>
          </div>
          <img class="img-fluid w-50 d-none d-sm-block" src="/img/home_exercise.png" alt="" />
        </div>
      </div>
    </section>
    <section class="second-background text-light py-5 text-center text-sm-start">
      <div class="container ">
        <div class="d-flex align-items-center justify-content-evenly">
          <div class="bg-light w-25 line"></div>
          <h2 class="my-3 text-center">紀錄</h2>
          <div class="bg-light w-25 line"></div>
        </div>
        <div class="row align-items-center py-3">
          <div class="col-6 col-md-4 m-md-auto py-2 p-md-0">
            <h4>裝置設置</h4>
            <hr>
            <p>手機及電腦開啟「開始復健」頁面</p>
            <p>取得資料存取許可</p>
          </div>
          <div class="col-12 col-md-7">
            <div class="row align-items-center">
              <div class="col-3"><img class="rounded-3 gif" src="/img/mobile_access.gif" alt=""></div>
              <div class="col-9"><img class="rounded-3 gif" src="/img/camera_access.gif" alt=""></div>
            </div>
          </div>
        </div>
        <div class="row align-items-center py-3">
          <div class="col-12 col-md-7">
            <img class="rounded-3 gif" src="/img/recording.gif" alt="">
          </div>
          <div class="col-6 col-md-4 m-md-auto py-2 p-md-0">
            <h4>開始復健</h4>
            <hr>
            <p>手機及電腦同步操控紀錄</p>
            <p>即時活動影像及動作訊號呈現</p>
          </div>
        </div>
        <div class="row align-items-center py-3">
          <div class="col-6 col-md-4 m-md-auto py-2 p-md-0">
            <h4>上傳紀錄</h4>
            <hr>
            <p>回顧影像、即時下載</p>
            <p>撰寫並送出復健紀錄</p>
          </div>
          <div class="col-12 col-md-7">
            <img class="rounded-3 gif" src="/img/save_record.gif" alt="">
          </div>
        </div>
      </div>
    </section>
    <section class="bg-dark text-light py-5 text-center text-sm-start">
      <div class="container">
        <div class="d-flex align-items-center justify-content-evenly">
          <div class="bg-light w-25 line"></div>
          <h2 class="my-3 text-center">分析</h2>
          <div class="bg-light w-25 line"></div>
        </div>
        <div class="row align-items-center py-3">
          <div class="col-12 col-md-7">
            <img class="rounded-3 gif" src="/img/record_review.gif" alt="">
          </div>
          <div class="col-6 col-md-4 m-md-auto py-2 p-md-0">
            <h4>客觀評估</h4>
            <hr>
            <p>復健影像回顧</p>
            <p>動作特徵量化</p>
          </div>
        </div>
      </div>
    </section>
    <section class="second-background text-light py-5 text-center text-sm-start">
      <div class="container">
        <div class="d-flex align-items-center justify-content-evenly">
          <div class="bg-light w-25 line"></div>
          <h2 class="my-3 text-center">回顧</h2>
          <div class="bg-light w-25 line"></div>
        </div>
        <div class="row align-items-center py-3">
          <div class="col-6 col-md-4 m-md-auto py-2 p-md-0">
            <h4>長期性追蹤</h4>
            <hr>
            <p>每日記錄檢索</p>
            <p>特定動作搜尋</p>
          </div>
          <div class="col-12 col-md-7">
            <img class="rounded-3 gif" src="/img/record_demo.gif" alt="">
          </div>
        </div>
      </div>
      </div>
      </div>
    </section>
    <%- include('./partials/footer') %>
      <%- include('./partials/register') %>
        <!-- <script src="/js/navView.js"></script> -->
        <script type="module" src="/js/index.js"></script>
</body>

</html>