<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/nav') %> <%- include('./partials/footer') %>
    <script type="module" src="/js/record.js"></script>
  </body>
</html>
