#avatar {
  width: 100%;
  border-radius: 50rem;
  border: none;
  overflow: hidden;
  object-fit: cover;
}
.avatarUser {
  bottom: 10%;
}
#uploadLabel {
  bottom: 8%;
  right: 8%;
  width: 2rem;
  height: 2rem;
}
.hide {
  display: none;
}
#editUserBtn,
#updateUserBtn,
#uploadLabel,
#prev,
#next,
#loadMoreBtn {
  cursor: pointer;
}
.hasRecord {
  cursor: pointer;
  position: relative;
}
.hasRecord:hover {
  background: var(--bs-gray-dark);
  color: var(--bs-white);
}
.recordDot {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 10%;
  right: 10%;
  background-color: darkorange;
  border-radius: 50%;
}
#searchBar {
  border-radius: 50rem;
  background: var(--bs-primary);
}
input[type="search"] {
  border-radius: 50rem 0 0 50rem;
  border: none;
}
#searchBtn {
  width: 20%;
  height: 100%;
  cursor: pointer;
}
#recordBoard {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
  max-height: 450px;
}
.card-width {
  width: 95%;
  z-index: 1;
}
